<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>File Uploader</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <%- include('navbar') %>
    <div class="body">
      <h1 class="username"><%= user.username %></h1>
      <p>
        Files Uploaded: <%= user.filesUploaded %> / <% if (user.role === "USER")
        { %> 5 <% } else { %> Unlimited <% } %>
      </p>
      <br />
      <h3 id="filesheading">Files</h3>

      <div class="itemholder">
        <% if (folder.parentFolder) { %>
        <a
          class="item folder parent"
          href="/folder/<%= folder.parentFolder.id %>"
          ><img src="/folderopen.svg" alt="" />
          <p><%= folder.parentFolder.name %></p></a
        >
        <% } %> <% if (folder.subFolders) { %> <%
        folder.subFolders.forEach(subFolder => { %>
        <a class="item folder sub" href="/folder/<%= subFolder.id %>"
          ><img src="/folder.svg" alt="" />
          <p><%= subFolder.name %></p></a
        >
        <% })} %> <% if (folder.files) { %> <% folder.files.forEach(file => { %>
        <a class="item file" href="/file/<%= file.id %>">
          <img src="/file.svg" alt="" />
          <p><%= file.name %></p></a
        >
        <% }); %> <% } %>
      </div>

      <a class="button" href="/upload?folder=<%= folder.id %>">Upload File</a>
      <a class="button" href="/create?folder=<%= folder.id %>"
        >Create New Folder</a
      >
      <%if (folder.id !== user.homeFolderId){%>
      <a id="delete" class="button" href="/folder/delete/<%= folder.id %>"
        >Delete Folder</a
      >
      <%}%>
    </div>
  </body>
</html>
